@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-12">
        <p>
            My Interview Preparation app, a comprehensive web application designed to streamline your interview preparation process.
            This application guides you through four easy steps: Topics, Headings, Questions, and Answers.
            The ‘Add/Edit Answer’ section features an advanced HTML editor, enhancing the attractiveness of your content.
            You can even copy and paste from any website, maintaining the original design within this editor.
            The visualization of answers is also appealing, with built-in ‘highlight.js’ functionality that presents content in distinct cards for different content types such as programming languages, HTML, and CSS.
        </p>
        <p>
            The ‘My Interview Preparation’ app includes a user login feature, which allows users to maintain and track their personal content. This means that users can create a personal account, log in, and have a personalized experience tailored to their needs.

            For example, let’s say a user is preparing for a software engineering interview and they are focusing on data structures and algorithms. After logging in, they can add topics related to these areas, create headings under each topic, and then add questions and answers under each heading. The content they add is saved to their personal account, allowing them to track their progress and revisit the material at any time.

            Moreover, the app keeps a record of the user’s activity, such as which topics they’ve studied and how much time they’ve spent on each. This helps users to manage their study time more effectively and ensures a comprehensive review of all necessary topics.

            In essence, the user login feature provides a personalized and efficient way for users to prepare for their interviews, keeping track of their progress and content in a systematic manner.
        </p>
        <p class="text-danger"><strong>Note: </strong>
        <p class="text-danger">
            The domain where the app is currently hosted is intended for demonstration purposes only.

            What this means is that the app is primarily designed to showcase its features and functionalities, and it’s not meant for regular or long-term use. Users are advised not to use this domain for their routine interview preparation practice.

            The reason behind this is the data retention policy of the demo domain. Any data that users input into the system, such as personal information, topics, questions, answers, etc., will be automatically removed after a period of 15 days. This includes any progress or tracking information associated with the user’s account.

            So, if a user were to use this domain regularly for their interview preparation, they would lose all their data and progress every 15 days, which would not be ideal for effective preparation or progress tracking. Hence, users are advised to use the app on its main domain for regular practice, where their data will be stored and maintained for a longer period.
        </p>
    </div>
</div>
